* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 90vw;
}

body {
    background-color: blanchedalmond;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: red;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

img, button {
    cursor: pointer;
}

.nav-bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-bar li {
    padding: 10px;
}

.meme-gen {
    display: flex;
    flex-direction: row;
}

.canvas-container {
    /* border: 1px solid black; */
    margin: 0;
    /* flex: 1 */
}

.main-canvas-container {
    position: relative;
}

.top-txt-canvas-container {
    position: absolute;
    top: 20px;
}

.meme-controls-container {
    padding: 20px; 
    /* flex: 1; */
}

input {
    height: 1.5rem;
    width: 10rem;
}

.image-container {
    display: flex;

}

.image-gallery img {
    height: 150px;
    width: 150px;
}

.card {
    margin: 10px;
}


